* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100vw;
  background-color:rgb(255, 247, 236);

  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 5em;
  color: rgb(218, 6, 6);
}

h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 4em;
  color:rgb(218, 6, 6);
}

p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.7em;
}

.bg-icon {
  position:fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;

  filter: opacity(5%);
  max-width: 50vw;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* HEADER */
/* ///////////////////////////////////////////////////////////////////////////////////////// */

header {
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}

/* Banner Img */
.banner {
  position: relative;
  z-index: 1;
  display:block;
  width: 90vw;
  height: 100vh;
  margin: 0 auto 5%;

  background-image: url("images/mathew.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Description */
h1 {
  margin: 0 0 2%;
}
header>p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;

  margin: 0;
}

/* Navigation */
.nav-right {
    position:fixed;
    right: 1%;
    top: 0;
    /* transform: translateY(-50%); */
    z-index: 0;
    padding: 1% 5% 1% 1%;
    width: 15vw;
    height: 100vh;
    border-left: solid rgb(158, 158, 158) 2px;

    font-weight: 500;
}

.nav-right ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-flow:column nowrap;
  justify-content: space-evenly;
  height: 100%;
  list-style: none;
  font-size: 1em;
}

.nav-right a {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: .2s ease-in;
}

.nav-right a:hover {
  color: rgb(218, 6, 6);
  text-decoration: none;
}


/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* MAIN */
/* ///////////////////////////////////////////////////////////////////////////////////////// */

main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 10%;
  max-width: 65vw;
}

main>section:first-child{
  margin-top: 0;
}
main>section {
  margin-top: 10%;
}

main p {
  line-height: 1.6;
}

.lucky img {
  float: right;
}

.lucky>h2 {
  margin-top: 10%;
}

.lucky>h2:first-child{
  margin-top: 0;
}

.lucky>ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  list-style: none;
  padding: 0;
}

.lucky>ul>li {
  font-family: "Helvetica", sans-serif;
  font-size: 2em;
  font-weight: 500;
  padding: 0 10% 0 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* FOOTER */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
footer{
  display: flex;
  flex-flow: row wrap;
  margin: 5% 0 0 10%;
}
footer>p {
  font-size: 1.3em;
  font-style: italic;
}
footer>p:last-child{
  margin-left: 5%;
}